<div xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark" style="font-variant: small-caps;">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="">
                    <a th:href="@{/product/list}"><h3>Home</h3></a> 
                </li>
                <th:block th:if="${#request.remoteUser}">
                    <li class="">
                        <a class="" th:if="!${#request.remoteUser}" th:href="@{/security/login/form}"><h3>Sign in</h3></a> 
                    </li>
                    <li class="">
                        <a class="" th:href="@{/security/logoff}"><h3>Sign out</h3></a> 
                    </li>
                    <li class="">
                        <a class="" th:href="@{/order/list}"><h3>Your Orders</h3></a> 
                    </li>
                    <li class="" th:if="${#request.isUserInRole('DIRE')or #request.isUserInRole('STAF') }">
                        <a class="" th:href="@{/admin/home/index}"><h3>Administration</h3></a> 
                    </li>
                </th:block>
                <th:block th:unless="${#request.remoteUser}">
                    <li>
                        <a th:href="@{/security/login/form}"><h3>Sign In</h3></a> 
                    </li>
                </th:block>
            </ul>

            <ul th:if="${#request.remoteUser}" class="nav navbar-nav navbar-right">
                <li><a href="#"><h3>Wellcome [[${#request.remoteUser}]]</h3></a></li>
            </ul>
        </div>
    </nav>
</div>